<div class="row">
  <div class="span12 main-theme">
    <a href="#/theme/{{themeMain.id}}-{{themeMain.name.prettify()}}"><img ng-src="/image.php?width=1170&height=658&cropratio=1170:658&image=/files/screenshots/{{themeMain.image}}"></a>
    <div class="span3 main-theme-caption" ng-model="themeMain">
      <h3>{{themeMain.name}}</h3>
      <p>
        {{themeMain.short_desc}}
      </p>
      <div>
        <div class="label">Author</div> <a href="{{themeMain.linkToAuthor}}">{{themeMain.artist}}</a>
      </div>
      <div>
        <div class="label">Viewed</div> {{themeMain.view_cnt | number}}
      </div>
      <div>
        <div class="label">Downloaded</div> {{themeMain.download_cnt | number}}
      </div>
      <p>
        <div>
          <a href="{{themeMain.link_to_theme}}-{{themeMain.name.prettify()}}" class="btn btn-warning btn-small">View Theme</a>
        </div>
      </p>
    </div>
  </div> <!-- .span12 -->
</div> <!-- .row -->

<div class="row">
  <div class="span12">
    ADVERTISEMENT
  </div>
</div>

<div class="row">
  <div ng-repeat="theme in themesTop" class="span6 small-theme">
    <a href="#/theme/{{theme.id}}-{{theme.name.prettify()}}"><img ng-src="/image.php?width=570&height=320&cropratio=570:320&image=/files/screenshots/{{theme.image}}"></a>
    <div class="small-theme-caption">
      <h5>{{theme.name}}<span class="by-whom"> by <a href="{{theme.linkToAuthor}}">{{theme.artist}}</a></span></h5>
    </div>
   </div>
</div>

<div class="row">
  <div class="span6">
    ADVERTISEMENT
  </div>
  <div class="span6">
    ADVERTISEMENT
  </div>
</div>

<div class="row">
  <div ng-repeat="theme in themesBottom" class="span6 small-theme">
    <a href="#/theme/{{theme.id}}-{{theme.name.prettify()}}"><img ng-src="/image.php?width=570&height=320&cropratio=570:320&image=/files/screenshots/{{theme.image}}"></a>
    <div class="small-theme-caption">
      <h5>{{theme.name}}<span class="by-whom"> by <a href="{{theme.linkToAuthor}}">{{theme.artist}}</a></span></h5>
    </div>
   </div>
</div>

