<div class="page-header">
  <h1>Layouts</h1>
</div>

<div class="row">
  <div class="span8">
    <p>
      Just simply place the downloaded layout under the application's <strong>themes/</strong> folder, and update the <strong>components/Controller.php</strong> file to load the correct layout and you should be good to go.
    </p>
  </div>
</div>

<div class="row">
  <div class="span6">
    <div>
      <h3>Sidebar Left <a class="btn btn-warning btn-small">Download</a></h3>
    </div>
    <div>
      <a title="download lefty" href="/downloads/lefty.zip"><img src="img/main-right.jpg" alt="" /></a>
    </div>
  </div>

  <div class="span6">
    <h3>
      <div>
        <h3>Sidebar Right <a class="btn btn-warning btn-small">Download</a></h3>
      </div>
      <div>
        <a title="download righty" href="/downloads/righty.zip"><img src="img/main-left.jpg" alt="" /></a>
      </div>
  </div>
</div>

<div class="row">
  <div class="span6">
    <div>
      <h3>Double Dynamite <a class="btn btn-warning btn-small">Download</a></h3>
    </div>
    <div>
      <a title="download double" href="/downloads/double.zip"><img src="img/mirror.jpg" alt="" /></a>
    </div>
  </div>

  <div class="span6">
    <div>
      <h3>Triplets <a class="btn btn-warning btn-small">Download</a></h3>
    </div>
    <div>
      <a href="/downloads/triplets.zip"><img src="img/threecol.jpg" alt="" /></a>
    </div>
  </div>
</div>
